.container {
 
  /* display: grid; */
  height: 60vh;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  margin: 20vh auto;
  width: 50vw;
  border: 2px solid red;
}

#input {

  border: 1px solid gray;
  height: 10vh;
 /*  grid-column: 1 /span 4; */
}

#buttons {
  
  display: grid;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.zero {

  grid-column: 1 / span 2;
}