.container {

  display: grid;
  height: 60vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 20vh auto;
  width: 40vw;
}

#input {

  border: 1px solid gray;
  grid-column: 1 /span 4;
}

.zero {

  grid-column: 1 / span 2;
}