body {

  background-color: rgb(250, 250, 250);
}

button {

  background-color: #fff;
  border: 1px solid #000;
  font-family: 'Niramit', sans-serif;
  font-size: 1.2rem;
  margin: 1px;
}

button:hover {

  background-color: rgb(255, 241, 241);
}

button:active {
  background-color: rgb(255, 241, 241);
  transform: translateY(1px);
}

.container {
 
  background-color: rgb(247, 247, 247);
  border: 1px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 60.4vh;
  margin: 20vh auto;
  transition: 0.3s;
  max-width: 350px;
}

.container:hover {

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

.material-icons.md-18 { 
  font-size: 16px; 
}

#input-disp {

  align-self: center;
  font-size: 2.2em;
  padding-right: 15px;
  text-align: right;
}

#input {

  background-color: #fff;
  border-bottom: 1px solid gray;
  height: 10vh;
  display: grid;
}

#buttons {
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 50vh;
  padding: 1px;
}

.zero {

  grid-column: 1 / span 2;
}